.header {
  display: grid;
  grid-template-rows: auto 2fr auto;
  min-height: 100vh;
}
.footer {
  padding: 1em 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.contentLogos {
  width: 3em;
  margin: 0 0.5em;
  margin-bottom: 5px;
}
.contentLogos img {
  object-fit: cover;
}
.footerText {
  width: 100%;
}
