.productsContainer {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(80px, 200px)
  ); /* Define el ancho mínimo y máximo para cada columna */
  gap: 10px;
  background-color: #ef4565;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  margin-bottom: 10px;
}
